<div class="auth-card" style="max-width: 600px; margin: 2rem auto;">
  <h2>Agregar Nueva Película</h2>

  <form [formGroup]="peliculaForm" (ngSubmit)="guardarPelicula()">
    
    <div class="form-group">
      <label>Título</label>
      type="text" formControlName="titulo" placeholder="Ej. Avengers"
    </div>

    <div class="form-group">
      <label>Sinopsis</label>
      <textarea formControlName="sinopsis" placeholder="Descripción de la película..."></textarea>
    </div>

    <div class="form-group">
      <label>Duración (minutos)</label>
      <input type="number" formControlName="duracionMinutos">
    </div>

    <div class="form-group">
      <label>Precio Base ($)</label>
      <input type="number" formControlName="precioBase">
    </div>

    <div class="form-group">
      <label>Póster de la Película</label>
      <input type="file" accept="image/*" (change)="seleccionarArchivo($event)">
    </div>

    @if (previewUrl()) {
      <div style="margin-bottom: 1rem; text-align: center;">
        <p style="color: #8c8c9e; font-size: 0.85rem;">Vista previa:</p>
        <img [src]="previewUrl()" alt="Vista previa" style="max-width: 150px; border-radius: 8px;">
      </div>
    }

    <button type="submit" class="btn-submit" [disabled]="peliculaForm.invalid || cargando()">
      @if (cargando()) {
        Subiendo y guardando...
      } @else {
        Guardar Película
      }
    </button>

  </form>
</div>