<div>
  <div style="text-align: center; margin-bottom: 2rem;">
    <h1>Bienvenidos a CineStar</h1>
    <p>Elegí tu película favorita, reservá tus butacas y disfrutá del mejor cine.</p>
  </div>

  <div style="display: flex; justify-content: space-between; margin-bottom: 2rem;">
    <div>
      <input type="text" placeholder="Buscar película...">
    </div>

    <div>
      <select>
        <option value="">Todos los géneros</option>
        @for (g of generosDisponibles; track g) {
          <option [value]="g">{{ g }}</option>
        }
      </select>
    </div>
  </div>

  <div>
    <h3>En Cartelera</h3>

    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
      @for (pelicula of peliculasFiltradas(); track pelicula.id) {
        
        <app-movie-card [pelicula]="pelicula"></app-movie-card>

      }
    </div>
  </div>
</div>